h1 {
    font-family: monospace;
    text-align: center;
    font-size: 35px;
}

form {
    background-color: aqua;
    border-radius: 25PX;
    font-family:  'Trebuchet MS', 'Liberation Sans', 'Nimbus Sans L', sans-serif;

    margin-left: 25%;
    margin-right: 25%;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

input, label {
    width: 45%;
    margin: 3px;

}

label {
    display: block;
    float: left;
}

