{% extends 'Stock/layout.html' %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block content %}
<form method="get">
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Buscar Produto">
        <select name="category" class="custom-select">
            {% for option in table_headers %}
            <option>{{ option }}</option>
            {% endfor %}
        </select>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Pesquisar</button>
        </span>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            {% for header in table_headers %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
            <th>AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        {% for line in table_data %}
            <tr>
                {% for data in line %}
                <td>{{ data }}</td>
                {% endfor %}
                <td>
                    <a href="#">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a href="#">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_product' %}">
    <button class="btn btn-primary">
        Cadastrar produto
    </button>
</a>

{% endblock %}