{% extends 'Stock/layout.html' %}

{% block title %}
Tabela de entrada
{% endblock %}

{% block content %}
<h1> ENTRADA </h1>
<form method="get">
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Buscar Produto">
        <select name="category" class="custom-select">
            <option>CÓDIGO</option>
            <option>TAMANHO</option>
            <option>DESCRIÇÃO</option>
            <option>MARCA</option>
            <option>PREÇO</option>
            <option>QUANTIDADE</option>
            <option>DATA</option>
        </select>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Pesquisar</button>
        </span>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>TAMANHO</th>
            <th>DESCRIÇÃO</th>
            <th>MARCA</th>
            <th>PREÇO</th>
            <th>QUANTIDADE</th>
            <th>DATA</th>
            <th>AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.clothes.code }}</td>
                <td>{{ product.clothes.size }}</td>
                <td>{{ product.clothes.description }}</td>
                <td>{{ product.clothes.brand }}</td>
                <td>{{ product.clothes.sell_price }}</td>
                <td>{{ product.amount }}</td>
                <TD>{{ product.date }}</TD>
                <td>
                    <a href="{% url 'add_existing_product' pk=product.pk %}">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <a href="{% url 'edit_product_entry' pk=product.pk %}">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a href="{% url 'delete_product_entry' pk=product.pk %}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_product' %}">
    <button class="btn btn-primary">
        Cadastrar produto
    </button>
</a>

{% endblock %}